<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Todo details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <script src="main.js"></script>
</head>
<body>
    <div class="container">
        <div class="task-details">
            <h1 class="heading"><%= todo[0].todo %></h1>
            <a class="add-btn" href="/">All Todos</a>
            <p class="prev-task description"><%= todo[0].description %></p> 
        </div>
            
    </div>
    
</body>
</html>